{% extends "base.html" %}
{% load static %}
{% load bulma_tags %}

{% block body %}
<h1 class="title">
    Edit cards for "<a href="{% url 'cards' %}?course={{ request.GET.course }}">{{ course.name }}</a>"
</h1>

<form method="post">
    {% csrf_token %}
    {{  formset.management_form }}
    {% for form in formset %}
        <div class="box m-4">
            {{ form|bulma }}
        </div>
    {% endfor %}
    <div class="control">
        <button class="button is-primary">Save</button>
    </div>
</form>

{% endblock body %}