{% extends "base.html" %}
{% load static %}
{% load bulma_tags %}
{% block head %}
<script src="{% static 'cards/js/cards-add.js' %}"></script>
{% endblock %}

{% block body %}
<h1 class="title">
    Add more cards to "<a href="{% url 'cards' %}?course={{ request.GET.course }}">{{ course.name }}</a>"
</h1>

<div class="box">
    <form method="post">
        {% csrf_token %}
        {{ form|bulma }}
        {% if request.GET.success %}
            <p class="help is-success">Successfully added "{{ request.GET.success }}"</p>
        {% endif %}
        <div class="control">
            <button type="submit" class="button is-primary">Add</button>
        </div>
    </form>
</div>

{% endblock body %}