{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="https://unpkg.com/vue@3.0.11"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
<link rel="stylesheet" href="{% static 'cards/css/cards.css' %}">
{% endblock %}
{% block body %}
<h1 class="title">
    {{ course.name }}
</h1>

<div id="cards-vue">
    <cards :cards="{{ cards }}" :course-id="{{ request.GET.course }}"></cards>
</div>

<div class="block pt-6">
    <div class="buttons is-centered">
        <a class="button" href="{% url 'cards_add' %}?course={{ request.GET.course }}">
            Add more cards
        </a>
        <a class="button" href="{% url 'cards_edit' %}?course={{ request.GET.course }}">
            Edit
        </a>
        <a class="button" href="{% url 'share' %}?course={{ request.GET.course }}">
            Share
        </a>
    </div>
</div>

<script src="{% static 'cards/js/cards-vue.js' %}"></script>
{% endblock body %}