{% extends "base.html" %}
{% load static %}
{% load bulma_tags %}
{% block head %}
<script src="{% static 'cards/js/courses.js' %}"></script>
{% endblock %}

{% block body %}
<h1 class="title">
    Courses
</h1>

<div class="box">
    <ul>
    {% for course in courses %}
        <li>
            <span class="icon-text">
                <a href="{% url 'cards' %}?course={{ course.id }}">
                    {{ course.name }}
                </a>
                <a href="{% url 'cards_add' %}?course={{ course.id }}" class="icon">
                    <i class="fas fa-plus"></i>
                </a>
                <a href="{% url 'cards_edit' %}?course={{ course.id }}" class="icon">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'share' %}?course={{ course.id }}" class="icon">
                    <i class="fas fa-share"></i>
                </a>
            </span>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="block">
    <button class="js-add-course button">
        Add course
    </button>
</div>

<div class="js-add-modal modal {% if form.errors %}is-active{% endif %}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
        <div class="tabs">
            <ul>
                <li class="js-create-tab is-active"><a>Create</a></li>
                <li class="js-import-tab"><a>Import</a></li>
            </ul>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form|bulma }}
            <div class="field">
                <button type="submit" class="button is-primary">Add</button>
            </div>
        </form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

{% endblock body %}