{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="{% static 'cards/js/courses.js' %}"></script>
{% endblock %}

{% block body %}
<h1 class="title">
    Courses
</h1>

<div class="box">
    <ul>
    {% for course in courses %}
        <li>
            <a href="{% url 'cards' %}?course={{ course.id }}">
                {{ course.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="block">
    <button class="js-add-course button">
        Add course
    </button>
</div>

<div class="js-add-modal modal {% if form.errors %}is-active{% endif %}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
        <div class="tabs">
            <ul>
                <li class="js-create-tab is-active"><a>Create</a></li>
                <li class="js-import-tab"><a>Import</a></li>
            </ul>
        </div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="field {% if field.name == "import_text" %}is-hidden js-import-field{% endif %}">
                    <label class="label">{{ field.label }}</label>
                    <div class="control">
                        {% if field.name == "import_text" %}
                        <textarea
                            class="textarea"
                            name="{{ field.name }}"
                        ></textarea>
                        {% else %}
                        <input 
                            class="input"
                            name="{{ field.name }}"
                            type="{{ field.widget.input_type }}"
                            placeholder="{{ field.widget.placeholder }}"
                        >
                        {% endif %}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="control">
                <button class="button is-primary">Submit</button>
            </div>
        </form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

{% endblock body %}