{% load dict_helper %}
<form method="{{ method }}">
    {% csrf_token %}
    {% for field in form %}
        <div class="field {% if field.name in extra_classes %}{% get_value extra_classes field.name %}{% endif %}">
            {% if not field.name in hidden %}
            <label class="label">{{ field.label }}</label>
            {% endif %}
            <div class="control">
                {% if field.name in custom_inputs %}
                <{% get_value custom_inputs field.name %}
                    class="{% get_value custom_inputs field.name %}"
                    name="{{ field.name }}"
                ></{% get_value custom_inputs field.name %}>
                {% else %}
                <input
                    class="input"
                    name="{{ field.name }}"
                    {% if field.name in hidden %}
                        type="hidden"
                        value="{% get_value hidden field.name %}"
                    {% else %}
                        {% if "password" in field.name %}
                            type="password"
                        {% else %}
                            type="{{ field.widget.input_type }}"
                        {% endif %}
                        {% if field.value != None %}
                            value="{{ field.value }}"
                        {% endif %}
                    {% endif %}
                    placeholder="{{ field.widget.placeholder }}"
                >
                {% endif %}
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% if request.GET.success %}
        <p class="help is-success">Success: "{{ request.GET.success }}"</p>
    {% endif %}
    {% for error in form.non_field_errors %}
        <p class="help is-danger">Error: {{ error }}</p>
    {% endfor %}
    <div class="control">
        <button class="button is-primary">Submit</button>
    </div>
</form>